.container {
  font-family: "Varela Round", sans-serif;
}
.productContainer {
  flex-direction: column;
}
.CoconutTreeImg {
  scale: 0.9;
  position: absolute;
  top: 50rem;
  left: 55.3rem;
  z-index: 0;
  width: 32.4%;
  height: 29%;
  z-index: -2;
  overflow: hidden;
}
@media (width > 1350px){
  .CoconutTreeImg {
    scale: 0.9;
    position: absolute;
    top: 50rem;
    left: 62.6rem;
    z-index: 0;
    width: 32.4%;
    height: 29%;
    z-index: -2;
    overflow: hidden;
  }
}
@media (width < 500px){
  .CoconutTreeImg {
    scale: 0.9;
    position: absolute;
    top: 33rem;
    left: 8.3rem;
    /* z-index: 4; */
    width: 100%;
    scale: 0.3;
    /* height: 10%; */
    /* z-index: -2; */
    /* overflow: hidden; */
  }
}
.brokenCoconut {
  /* width: 20%; */
}
.comment {
  padding-bottom: 7px;
  border-bottom: 2px solid #8C5036 !important;
  letter-spacing: 0.8px;
}
.freshcon {
  background: rgb(84, 169, 49);
  background: linear-gradient(
    0deg,
    rgba(84, 169, 49, 1) 44%,
    rgba(29, 127, 53, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imageText {
    position: absolute;
    top: 1.5rem;
    left: 9rem;
}
@media (width < 500px){
  .imageText {
      top: 1.5rem;
      left: 6rem;
  }
}