.mainContainer{
  position: relative;
}
.container {
  font-family: "Varela Round", sans-serif;
}
.productContainer {
  flex-direction: column;
}
.CoconutTreeImg {
  scale: 0.9;
  position: absolute;
  top: -8rem;
  right: -1.3rem;
  z-index: 0;
  width: 35%;
  height: 75%;
  z-index: -2;
  overflow: hidden;
}
@media (width > 1350px){
  .CoconutTreeImg {
    scale: 0.9;
    position: absolute;
    z-index: 0;
    width: 32.4%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
  }
}
@media (width < 500px){
  .CoconutTreeImg {
    position: absolute;
    top: -26rem;
    right: -8.3rem !important;
    /* z-index: 4; */
    width: 100%;
    /* height: 100%; */
    scale: 0.3;
    /* height: 10.99%; */
    /* z-index: -2; */
    /* overflow: hidden; */
  }
}
.brokenCoconut {
  /* width: 20%; */
  position: absolute;
  bottom: -9rem;
  z-index: 2;
}
.comment {
  padding-bottom: 7px;
  border-bottom: 2px solid #8C5036 !important;
  letter-spacing: 0.8px;
}
.freshcon {
  background: rgb(84, 169, 49);
  background: linear-gradient(
    0deg,
    rgba(84, 169, 49, 1) 44%,
    rgba(29, 127, 53, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imageText {
    position: absolute;
    top: 3rem;
    left: 9rem;
}
@media (width < 500px){
  .brokenCoconut {
    scale: 0.9;
    bottom: -7rem;
    left: 0;
  }
  .imageText {
      left: 6rem;
  }
}