.productsCoconutTree {
    position: absolute;
    top: 1500px;
    left: -5px;
}
.button {
    background-color: #8C5036 !important;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
    height: 37px;
    width: 234px;
}