.heroContainer {
  background-image: url(../../images/heroBackground.png) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  top: -10px;
  left: -5px;
}
@media (width < 500px) {
  .heroContainer {
    background-image: url(../../images/mobileHeroBackground.png) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 950px;
    top: -10px;
    left: -5px;
    padding: 1rem 1rem;
  }
}
.heroCoconutImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 35%;
  height: 20%;
  /* width: 60%;
  height: 12%; */
}
@media (width < 500px) {
  .heroCoconutImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 45%;
    height: 10%;
  }
}
.heroHeaderContainer {
  margin-top: 10rem;
  right: 0 !important;
  position: absolute;
}
.heroImage {
  padding: 0 !important;
}
.heroHeadingText {
  font-family: "Varela Round", sans-serif;
  flex-direction: column;
}
