.mainText {
    font-family: "Varela Round", sans-serif;
    position: absolute;
    top: 2970px;
    left: 40%;
}
.text1 {
    font-family: "Varela Round", sans-serif;
    position: absolute;
    top: 3030px;
    left: 30%;
}