@media (width < 500px){
    .container {
        align-items: center !important;
    }
}
@media (width > 500px){
    .text {
        padding-left: 1.8rem;
    }
    .container {
        padding: 4rem 0;
        margin-left: 3rem;
    }
}