@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
*::-webkit-scrollbar {
  display: none;
  overflow-x: hidden;
}
body {
  user-select: none !important;
}
@media (width < 500px){
  body {
    text-align: center;
  }
}